<div class="center hero-unit">
  <h1>Welcome to SoundFound</h1>

  <h2>
       This is the home page for SoundFound
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, 
                              class: "btn btn-large btn-primary" %>
</div>

